html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

html, body {
  padding: 0;
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
  overflow-x: hidden;
}

input {
  border: none;
  outline: none;
}

.wrap {
  display: inline-block;
  width: 100%;
  height: 1080px;
  background: url(../img/bg.svg) center top no-repeat;
  background-size: 1920px 1080px;
}

.content {
  width: 800px;
  height: 960px;
  background-color: #fff;
  margin: 60px auto;
}
.content h1 {
  width: 100%;
  height: 44px;
  text-align: center;
  line-height: 44px;
  font-size: 35px;
  font-weight: bold;
  padding-top: 236px;
  color: #43425D;
  letter-spacing: 8px;
}
.content p {
  width: 100%;
  height: 23px;
  font-size: 18px;
  text-align: center;
  padding-top: 12px;
  color: #4D4F5C;
  opacity: 0.5;
}
.content form {
  width: 400px;
  margin: 60px auto;
  color: #43425D;
  font-size: 15px;
}
.content form input[type=text], .content form input[type=password] {
  width: 400px;
  height: 30px;
  border-bottom: 1px solid #ccc;
}
.content form input[placeholder], .content form [placeholder], .content form *[placeholder] {
  color: #43425D !important;
}
.content form input[type=password] {
  margin-top: 45px;
}
.content form:nth-of-type(2) {
  margin: 45px auto;
}
.content form:nth-of-type(2) input[type="checkbox"] {
  display: inline-block;
  width: 18px;
  height: 18px;
  vertical-align: middle;
  margin-right: 10px;
}
.content form:nth-of-type(2) a {
  width: 105px;
  float: right;
  color: #43425D;
  text-decoration: none;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.content form:nth-of-type(2) a:hover {
  text-decoration: underline;
}
.content form:nth-of-type(3) {
  margin: 65px auto;
}
.content form:nth-of-type(3) button {
  width: 185px;
  height: 50px;
  border: none;
  background-color: #43425D;
  color: #fff;
  cursor: pointer;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.content form:nth-of-type(3) button:hover {
  color: #43425D;
  background-color: #fff;
  border: 1px solid #43425D;
}
.content form:nth-of-type(3) button:nth-of-type(2) {
  float: right;
}

.text {
  width: 100%;
  font-size: 12px;
  color: #43425D;
  text-align: center;
  margin-top: 240px;
}

.menu {
  position: fixed;
  width: 230px;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #43425D;
  z-index: 100;
}
.menu .tittle {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 70px;
  line-height: 70px;
  background-color: #3b3b53;
  border-bottom: 1px solid #43425D;
  font-size: 21px;
  color: #fff;
  letter-spacing: 6px;
  padding-left: 30px;
}

.menu ul {
  width: 100%;
}

.menu ul li {
  width: 100%;
  height: 70px;
}

.menu ul li a {
  width: 230px;
  height: 70px;
  display: block;
  text-decoration: none;
  border-bottom: 1px solid #43425D;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.menu ul li a p {
  line-height: 70px;
  padding-left: 60px;
  color: #fff;
}

.menu ul li .add1 {
  background: url(../img/icon01.svg) 30px center no-repeat;
}
.menu ul li .add1:hover {
  background: url(../img/icon01-1.svg) #3b3b53 30px center no-repeat;
}

.menu ul li .add2 {
  background: url(../img/icon02.svg) 30px center no-repeat;
}
.menu ul li .add2:hover {
  background: url(../img/icon02-1.svg) #3b3b53 30px center no-repeat;
}

.menu ul li .add3 {
  background: url(../img/icon03.svg) 30px center no-repeat;
}
.menu ul li .add3:hover {
  background: url(../img/icon03-1.svg) #3b3b53 30px center no-repeat;
}

.menu ul li .add4 {
  background: url(../img/icon04.svg) 30px center no-repeat;
}
.menu ul li .add4:hover {
  background: url(../img/icon04-1.svg) #3b3b53 30px center no-repeat;
}

.menu ul li .add5 {
  background: url(../img/icon05.svg) 30px center no-repeat;
}
.menu ul li .add5:hover {
  background: url(../img/icon05-1.svg) #3b3b53 30px center no-repeat;
}

.menu ul li a::before {
  content: "";
  position: fixed;
  display: block;
  left: -5px;
  width: 5px;
  height: 70px;
  background-color: #A3A0FB;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.menu ul li a:hover::before {
  left: 0;
}

.menu ul li a.atc1 {
  background: url(../img/icon01-1.svg) #3b3b53 30px center no-repeat;
}

.menu ul li a.atc2 {
  background: url(../img/icon02-1.svg) #3b3b53 30px center no-repeat;
}

.menu ul li a.atc3 {
  background: url(../img/icon03-1.svg) #3b3b53 30px center no-repeat;
}

.menu ul li a.atc4 {
  background: url(../img/icon04-1.svg) #3b3b53 30px center no-repeat;
}

.menu ul li a.atc5 {
  background: url(../img/icon05-1.svg) #3b3b53 30px center no-repeat;
}

.menu ul li a.atc1::before, .menu ul li a.atc2::before, .menu ul li a.atc3::before, .menu ul li a.atc4::before, .menu ul li a.atc5::before {
  content: "";
  position: fixed;
  display: block;
  width: 5px;
  height: 70px;
  background-color: #A3A0FB;
  left: 0;
}

.main {
  width: 100%;
  position: relative;
  display: inline-block;
  background-color: #f0f0f7;
  margin-left: 230px;
}
.main .bar {
  width: 100%;
  height: 70px;
  position: fixed;
  z-index: 100;
  top: 0;
  background-color: #fff;
  -moz-box-shadow: rgba(221, 221, 229, 0.4) 0 0 18px, rgba(221, 221, 229, 0.2) 0 0 3px 1px inset;
  -webkit-box-shadow: rgba(221, 221, 229, 0.4) 0 0 18px, rgba(221, 221, 229, 0.2) 0 0 3px 1px inset;
  box-shadow: rgba(221, 221, 229, 0.4) 0 0 18px, rgba(221, 221, 229, 0.2) 0 0 3px 1px inset;
}
.main .bar h2 {
  height: 70px;
  line-height: 70px;
  font-size: 30px;
  color: #707070;
  display: inline-block;
  padding-left: 30px;
}
.main .bar .postid {
  width: 720px;
  height: 70px;
  font-size: 14px;
  color: #757575;
  float: right;
}
.main .bar .postid .search {
  display: inline-block;
  position: relative;
  width: 250px;
  height: 30px;
  margin-top: 20px;
  border-right: 1px solid #ccc;
}
.main .bar .postid .search input[type=text] {
  width: 190px;
  margin: 6px 0 0 30px;
}
.main .bar .postid .search a {
  position: absolute;
  display: block;
  left: 0;
  top: 8px;
  width: 16px;
  height: 16px;
  background: url(../img/icon_search.svg) center center no-repeat;
}
.main .bar .postid .id {
  display: inline-block;
  position: relative;
  width: 200px;
  margin-left: 30px;
}
.main .bar .postid .id p {
  width: 100px;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.main .bar .postid .id a {
  display: inline-block;
  width: 11px;
  height: 7px;
  background: url(../img/small-down.svg) center left no-repeat;
}
.main .bar .postid .id .idimg {
  position: absolute;
  overflow: hidden;
  width: 38px;
  height: 38px;
  border-radius: 38px;
  -webkit-border-radius: 38px;
  -moz-border-radius: 38px;
  top: -10px;
  right: 20px;
}

.boxdata {
  width: 80%;
  margin: 130px 0 0 80px;
}
.boxdata .smallbox {
  width: 95%;
}
.boxdata .smallbox h2 {
  color: #43425D;
  font-size: 28px;
  margin-bottom: 40px;
}

.box {
  width: 100%;
  height: auto;
  margin-bottom: 40px;
  background-color: #fff;
  font-size: 13px;
  display: inline-block;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-box-shadow: rgba(221, 221, 229, 0.4) 0 0 18px, rgba(221, 221, 229, 0.2) 0 0 3px 1px inset;
  -webkit-box-shadow: rgba(221, 221, 229, 0.4) 0 0 18px, rgba(221, 221, 229, 0.2) 0 0 3px 1px inset;
  box-shadow: rgba(221, 221, 229, 0.4) 0 0 18px, rgba(221, 221, 229, 0.2) 0 0 3px 1px inset;
}

#css_table {
  display: table;
  width: 97%;
  margin: 20px auto;
}

.css_tr {
  display: table-row;
}

.css_td {
  display: table-cell;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 50px;
  padding: 15px;
  color: #636570;
  border-bottom: 1px solid #f1f1f3;
}

.css_tr:nth-of-type(1) {
  background-color: #f5f6fa;
  font-weight: bold;
  color: #a9acba;
  border: none;
}

.css_td:nth-of-type(1) {
  width: 80%;
}

#css_table1 {
  display: table;
  width: 97%;
  margin: 20px auto;
}

.css_tr1 {
  display: table-row;
}

.css_td1 {
  display: table-cell;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 50px;
  padding: 15px;
  color: #636570;
  border-bottom: 1px solid #f1f1f3;
}

.css_td1:nth-of-type(1), .css_td1:nth-of-type(2) {
  width: 27%;
}

.css_td1:nth-of-type(2) {
  text-decoration: underline;
}

.css_td1:nth-of-type(3), .css_td1:nth-of-type(4), .css_td1:nth-of-type(5), .css_td1:nth-of-type(6) {
  text-align: center;
}

.css_tr1:nth-of-type(1) {
  background-color: #f5f6fa;
  font-weight: bold;
  color: #a9acba;
  border: none;
}

.css_tr1 .none {
  text-decoration: none;
}

.css_tr1 .tag {
  background-color: #dcdbfa;
  color: #A3A6B4;
  position: relative;
}
.css_tr1 .tag::after {
  content: "";
  position: absolute;
  top: 20px;
  right: 20px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0px 6px 10px 6px;
  border-color: transparent transparent #A3A6B4 transparent;
  cursor: pointer;
}

#css_table2 {
  display: table;
  width: 97%;
  margin: 20px auto;
}

.css_tr2 {
  display: table-row;
}

.css_td2 {
  display: table-cell;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 50px;
  padding: 15px;
  color: #636570;
  border-bottom: 1px solid #f1f1f3;
}

.css_tr2:nth-of-type(1) {
  background-color: #f5f6fa;
  font-weight: bold;
  color: #a9acba;
  border: none;
}

#css_table3 {
  display: table;
  width: 97%;
  margin: 20px auto;
}

.css_tr3 {
  display: table-row;
}

.css_td3 {
  display: table-cell;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 15px;
  color: #636570;
  font-weight: bold;
}
.css_td3 p {
  color: #2D2E33;
}
.css_td3 input {
  margin-top: 20px;
}
.css_td3 .listbox {
  display: flex;
  flex-wrap: nowrap;
}
.css_td3 .listbox > div {
  font-size: 13px;
  text-align: center;
  border: 1px solid #707070;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  margin-top: 20px;
  margin-right: 5px;
}
.css_td3 .listbox > div a {
  display: block;
  padding: 10px;
  color: #2D2E33;
  text-decoration: none;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.css_td3 .listbox > div a:hover {
  color: #fff;
  background-color: #91AAFB;
}
.css_td3 .btnbox {
  display: flex;
  flex-wrap: nowrap;
}
.css_td3 .btnbox > div {
  width: 55%;
  font-size: 13px;
  text-align: center;
  border: 1px solid #707070;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  margin-top: 20px;
  margin-right: 5px;
}
.css_td3 .btnbox > div a {
  display: block;
  padding: 10px;
  color: #2D2E33;
  text-decoration: none;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.css_td3 .btnbox > div a:hover {
  color: #fff;
  background-color: #43425D;
}
.css_td3 .tagbox {
  display: flex;
  flex-wrap: nowrap;
}
.css_td3 .tagbox > div {
  font-size: 13px;
  text-align: center;
  border: 1px solid #707070;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  margin-top: 20px;
  margin-right: 5px;
  padding: 10px;
  color: #2D2E33;
}
.css_td3 .tagbox a {
  width: 10px;
  height: 10px;
  display: inline-block;
  background: url(../img/close.svg) no-repeat;
  margin-left: 10px;
}

.css_tr3:nth-of-type(1) {
  background-color: #f5f6fa;
  border: none;
  height: 50px;
}

#slider-range {
  margin: 10px 0 0 0;
}

.searchtag {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 30px;
  margin-top: 20px;
}
.searchtag input[type=text] {
  width: 100%;
  border-bottom: 1px solid #ccc;
  margin: 6px 0 0 0;
}
.searchtag a {
  position: absolute;
  display: block;
  right: 0;
  top: 0;
  width: 16px;
  height: 16px;
  background: url(../img/icon_search.svg) center center no-repeat;
}

.overview, .data {
  display: flex;
  flex-wrap: nowrap;
}

.data > div {
  background-color: #fff;
  margin-right: 16px;
  -moz-box-shadow: rgba(221, 221, 229, 0.4) 0 0 18px, rgba(221, 221, 229, 0.2) 0 0 3px 1px inset;
  -webkit-box-shadow: rgba(221, 221, 229, 0.4) 0 0 18px, rgba(221, 221, 229, 0.2) 0 0 3px 1px inset;
  box-shadow: rgba(221, 221, 229, 0.4) 0 0 18px, rgba(221, 221, 229, 0.2) 0 0 3px 1px inset;
}

.data > div:nth-of-type(1) {
  width: 65%;
}

.data > div:nth-of-type(2) {
  width: 35%;
  margin-right: 0;
}

.linebar {
  width: 180px;
  height: 10px;
  display: inline-block;
  overflow: hidden;
}
.linebar .barcolor {
  width: 100%;
  height: 10px;
  background-color: #A3A0FB;
}

.overview > div {
  width: 20%;
  height: 130px;
  background-color: #fff;
  margin-right: 16px;
  display: inline-block;
  position: relative;
  color: #43425D;
  -moz-box-shadow: rgba(221, 221, 229, 0.4) 0 0 18px, rgba(221, 221, 229, 0.2) 0 0 3px 1px inset;
  -webkit-box-shadow: rgba(221, 221, 229, 0.4) 0 0 18px, rgba(221, 221, 229, 0.2) 0 0 3px 1px inset;
  box-shadow: rgba(221, 221, 229, 0.4) 0 0 18px, rgba(221, 221, 229, 0.2) 0 0 3px 1px inset;
}
.overview > div p {
  font-size: 15px;
  opacity: 0.5;
  margin: 20px 0 0 20px;
}
.overview > div h3 {
  font-size: 25px;
  opacity: 1;
  margin: 50px 0 0 20px;
  font-weight: bold;
}
.overview > div .icon {
  width: 47px;
  height: 47px;
  position: absolute;
  top: -10px;
  right: 20px;
}
.overview > div .i1 {
  background: url(../img/symbol01.svg) no-repeat;
}
.overview > div .i2 {
  background: url(../img/symbol02.svg) no-repeat;
}
.overview > div .i3 {
  background: url(../img/symbol03.svg) no-repeat;
}
.overview > div .i4 {
  background: url(../img/symbol04.svg) no-repeat;
}
.overview > div .i5 {
  background: url(../img/symbol05.svg) no-repeat;
}

.overview > div:nth-of-type(5) {
  margin-right: 0;
}

.boxdata .smallbox .cut {
  width: 100%;
  height: auto;
  margin-bottom: 60px;
  background-color: #fff;
  font-size: 13px;
  display: inline-block;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #f0f0f7;
}

.showmore {
  width: 100%;
  height: 20px;
  font-size: 13px;
  text-align: center;
  margin-bottom: 20px;
}
.showmore a {
  display: block;
  color: #3B86FF;
  text-decoration: none;
}
.showmore a:hover {
  text-decoration: underline;
}

.footer_index {
  width: 100%;
  height: 30px;
  line-height: 30px;
  font-size: 12px;
  text-align: center;
  color: #4D4F5C;
}

.footer {
  height: 30px;
  margin-left: 230px;
  line-height: 30px;
  font-size: 12px;
  text-align: center;
  color: #4D4F5C;
}
